<tr>
    <td data-label="#" class="text-center">{{{index}}}</td>
    <td data-label="F-NAME" class="{{{fabricClass}}}">{{{fabric}}}</td>
    <td data-label="F-COLOR" class="{{{fabricClass}}}">{{{color}}}</td>
    <td data-label="Location">{{{location}}}</td>
    <td data-label="HD" class="text-center {{{isEmptyClassHD}}}">{{{winder}}}</td>
    <td data-label="Dual" class="text-center {{{isEmptyClassDual}}}">{{{dual}}}</td>
    <td data-label="Motor" class="text-center {{{isEmptyClassMotor}}}">{{{motor}}}</td>
    <td data-label="Price" class="text-right">{{{price}}}</td>
</tr>