<tr class="{{{rowClasses}}}">
    <td data-label="NO" class="text-center">{{{rowNumber}}}</td>
    <td data-label="Location">{{{location}}}</td>
    <td data-label="TYPE" class="text-center">{{{type}}}</td>
    <td data-label="F-Name">{{{fabric}}}</td>
    <td data-label="F-Color">{{{color}}}</td>
    <td data-label="W" class="text-center">{{{width}}}</td>
    <td data-label="H" class="text-center">{{{height}}}</td>
    <td data-label="over" class="text-center">{{{over}}}</td>
    <td data-label="O/I" class="text-center">{{{oi}}}</td>
    <td data-label="L/R" class="text-center">{{{lr}}}</td>
    <td data-label="dual" class="text-center">{{{dual}}}</td>
    <td data-label="chain" class="text-center">{{{chain}}}</td>
    <td data-label="HD" class="text-center">{{{winder}}}</td>
    <td data-label="motor" class="text-center">{{{motor}}}</td>
</tr>
