<tr>
    <td data-label="NO" class="text-center">{{{rowNumber}}}</td>
    <td data-label="#" class="text-center {{{fabricClass}}}">{{{index}}}</td>
    <td data-label="Location">{{{location}}}</td>
    <td data-label="Fcolor" class="{{{fabricClass}}}">{{{fcolor}}}</td>
    <td data-label="W" class="text-center">{{{width}}}</td>
    <td data-label="H" class="text-center">{{{height}}}</td>
    <td data-label="L/R" class="text-center">{{{lr}}}</td>
    <td data-label="over" class="text-center">{{{over}}}</td>
    <td data-label="dual" class="text-center {{{isEmptyClassDual}}}">{{{dual}}}</td>
    <td data-label="HD" class="text-center {{{isEmptyClassHD}}}">{{{winder}}}</td>
    <td data-label="chain" class="text-center">{{{chain}}}</td>
    <td data-label="motor" class="text-center {{{isEmptyClassMotor}}}">{{{motor}}}</td>
    <td data-label="PRICE" class="text-right"></td>
</tr>