<tr>
    <td data-label="NO" class="text-center" style="{{{rowStyle}}}">{{{rowNumber}}}</td>
    <td data-label="#" class="text-center {{{fabricClass}}}" style="{{{rowStyle}}}">{{{index}}}</td>
    <td data-label="TYPE" class="text-center {{{fabricClass}}}" style="{{{rowStyle}}}">{{{type}}}</td>
    <td data-label="F-Name" class="{{{fabricClass}}}" style="{{{rowStyle}}} {{{fabricTextStyle}}}">{{{fabric}}}</td>
    <td data-label="F-Color" class="{{{fabricClass}}}" style="{{{rowStyle}}} {{{fabricTextStyle}}}">{{{color}}}</td>
    <td data-label="W" class="text-center" style="{{{rowStyle}}}">{{{width}}}</td>
    <td data-label="H" class="text-center" style="{{{rowStyle}}}">{{{height}}}</td>
    <td data-label="over" class="text-center" style="{{{rowStyle}}}">{{{over}}}</td>
    <td data-label="O/I" class="text-center" style="{{{rowStyle}}}">{{{oi}}}</td>
    <td data-label="L/R" class="text-center" style="{{{rowStyle}}}">{{{lr}}}</td>
    <td data-label="dual" class="text-center {{{isEmptyClassDual}}}" style="{{{rowStyle}}}">{{{dual}}}</td>
    <td data-label="chain" class="text-center" style="{{{rowStyle}}}">{{{chain}}}</td>
    <td data-label="HD" class="text-center {{{isEmptyClassHD}}}" style="{{{rowStyle}}}">{{{winder}}}</td>
    <td data-label="motor" class="text-center {{{isEmptyClassMotor}}}" style="{{{rowStyle}}}">{{{motor}}}</td>
    <td data-label="Location" style="{{{rowStyle}}}">{{{location}}}</td>
    <td data-label="PRICE" class="text-right" style="{{{rowStyle}}}">{{{price}}}</td>
</tr>