<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Order</title>
    <link rel="stylesheet" href="./04-core-code/ui/css/work-order.css">
</head>

<body>

    <div class="page-container">
        <div class="content-wrapper">


            <div class="main-header">
                <h1>Work Order</h1>
                <div class="quote-number">
                    <strong>Quote No:</strong> {{quoteId}}
                </div>
            </div>


            <div class="table-scroll-wrapper">
                <table class="detailed-list-table">
                    <colgroup>
                        <col style="width: 4%;">
                        <col style="width: 4%;">
                        <col style="width: 14%;">
                        <col style="width: 14%;">
                        <col style="width: 6%;">
                        <col style="width: 6%;">
                        <col style="width: 6%;">
                        <col style="width: 6%;">
                        <col style="width: 6%;">
                        <col style="width: 6%;">
                        <col style="width: 8%;">
                        <col style="width: 8%;">
                        <col style="width: 8%;">
                    </colgroup>
                    <thead>
                        <tr class="table-title">
                            <th colspan="13">Roller Blinds - Work Order</th>
                        </tr>
                        <tr>
                            <th>NO</th>
                            <th>#</th>
                            <th>TYPE</th>
                            <th>F-Name</th>
                            <th>F-Color</th>
                            <th>W</th>
                            <th>H</th>
                            <th>L/R</th>
                            <th>over</th>
                            <th>dual</th>
                            <th>HD</th>
                            <th>chain</th>
                            <th>motor</th>
                            <th>PRICE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{{workOrderTableRows}}}
                    </tbody>
                </table>
            </div>

            <div class="appendix-flex-container">

                <div class="table-scroll-wrapper">

                    <table class="motorised-accessories-table">
                        <colgroup>
                            <col style="width: auto;">
                            <col style="width: 25%;">
                            <col style="width: 35%;">
                        </colgroup>

                        <thead>
                            <tr class="table-title">
                                <th colspan="3">Motorised Package Summary</th>
                            </tr>
                            <tr>
                                <th>Item</th>
                                <th class="text-center">QTY</th>
                                <th class="text-right">Total Price</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td data-label="Item">Motor</td>
                                <td data-label="QTY" class="text-center">{{motorQty}}</td>
                                <td data-label="Total Price" class="text-right">{{{motorPrice}}}</td>
                            </tr>
                            <tr>
                                <td data-label="Item">Remote (1CH)</td>
                                <td data-label="QTY" class="text-center">{{remote1chQty}}</td>
                                <td data-label="Total Price" class="text-right">{{{remote1chPrice}}}</td>
                            </tr>
                            <tr>
                                <td data-label="Item">Remote (16CH)</td>
                                <td data-label="QTY" class="text-center">{{remote16chQty}}</td>
                                <td data-label="Total Price" class="text-right">{{{remote16chPrice}}}</td>
                            </tr>
                            <tr>
                                <td data-label="Item">Charger</td>
                                <td data-label="QTY" class="text-center">{{chargerQty}}</td>
                                <td data-label="Total Price" class="text-right">{{{chargerPrice}}}</td>
                            </tr>
                            <tr>
                                <td data-label="Item">3M Cord</td>
                                <td data-label="QTY" class="text-center">{{cord3mQty}}</td>
                                <td data-label="Total Price" class="text-right">{{{cord3mPrice}}}</td>
                            </tr>
                            <tr>
                                <td data-label="Item">WiFi Hub</td>
                                <td data-label="QTY" class="text-center">{{{wifiHubQty}}}</td>
                                <td data-label="Total Price" class="text-right">{{{wifiHubPrice}}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="total-row">
                                <td colspan="2" class="text-right" data-label="QTY">Total</td>
                                <td class="text-right" data-label="Total Price">{{eAcceSum}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="legend">
                    <table class="summary-key-table">
                        <tbody>
                            <tr>
                                <td class="key-column">
                                    <h3>Abbreviations Key</h3>
                                    <p><span class="color-swatch" style="background-color: #f0f0f0;"></span>Blockout
                                        (BO)</p>
                                    <p><span class="color-swatch" style="background-color: #e0f7fa;"></span>Screen (SN)
                                    </p>
                                    <p><span class="color-swatch" style="background-color: #ffe4e1;"></span>Light Filter
                                        (LF)</p>
                                    <p><strong>HD:</strong> Heavy-Duty Winder</p>
                                    <p><strong>Dual:</strong> Double Bracket</p>
                                </td>
                                <td class="summary-column">
                                    <table class="cost-summary-table">
                                        <thead>
                                            <tr>
                                                <th>ITEM</th>
                                                <th>Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>RB</td>
                                                <td class="text-right">{{{wo_rb_price}}}</td>
                                            </tr>
                                            <tr>
                                                <td>Acce.</td>
                                                <td class="text-right">{{{wo_acce_price}}}</td>
                                            </tr>
                                            <tr>
                                                <td>E-item</td>
                                                <td class="text-right">{{{eAcceSum}}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>Total</td>
                                                <td class="text-right">{{{wo_total_price}}}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</body>

</html>